# Logs
logs
*.log
logs/
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# Build directory
build/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm/

# Testing
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# MacOS specific files
*.DS_Store

# Other
*.env
*.lock
